<p>
	Powered By
	<%= 
		link_to(
			image_tag("image.gif", size:"333x253",alt:"ぐにゃぁ", align: "middle"),
		"http://img.2chan.net/b/futaba.htm",target: "_blank"
		)
	%>
</p>
<%= content_tag(:p, class: "p1") do %>
	こんにちは
	よーめん
<% end %>
<p>
	<%=
		tag(:br)
		link_to("home",root_path)
	%>
</p>